.Cube {
    max-height: 100%;
    overflow: hidden;
    /* width: 100%; */
    color:#aaa; 
    font-size: 12px;
    /* filter: blur(0.5px); */
    overflow: hidden;
}

.Name-text {
    z-index: 1;
    background-color: #282c34;
    border-radius: 5px;
}