.Section {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Section-right {
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}